* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-width: 320px;
 background: #080D17;
}

/* LP全体 */
.site-wrapper {
  width: 100%;
  overflow: hidden;
}

/* 各セクション共通の中身 */
.container {
  width: min(1200px, calc(100% - 80px));
  margin: 0 auto;
}

/* =========================
   FIRST VIEW
========================= */

.fv {
  position: relative;
  width: 100%;
  min-height: 800px;
}

/* スマホ */
@media (max-width: 768px) {
  .fv {
    min-height: 700px;
  }
}

/* スマホ */
@media (max-width: 768px) {
  .container {
    width: calc(100% - 32px);
  }
}
/* =========================
   FV HEADER
========================= */

.fv-header {
  width: 100%;
  position: relative;
}

.fv-header img {
  display: block;
  width: 100%;
  height: auto;
}
/* =========================
   FV MAIN NINJA
========================= */

.fv-ninja {
  position: absolute;
  left: 6%;
  bottom: -80px;
  width: min(38vw, 500px);
  z-index: 2;
}

.fv-ninja img {
  display: block;
  width: 100%;
  height: auto;
}

/* スマホ */
@media (max-width: 768px) {
  .fv-ninja {
    left: 2%;
    bottom: 40px;
    width: 72vw;
  }
}
/* =========================
   FV COPY
========================= */

.fv-copy {
  position: absolute;
  right: 32%;
  top: 25%;
  width: min(22vw, 300px);
  z-index: 3;
}

.fv-copy img {
  display: block;
  width: 100%;
  height: auto;
}
/* =========================
   2ページ目
========================= */

.concept {
  position: relative;
  width: 100%;
  min-height: 900px;
  background: #0B1426;
  overflow: hidden;
}

/* まきびし忍者 */
.concept-makibishi {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: min(30vw, 420px);
}

.concept-makibishi img {
  display: block;
  width: 100%;
  height: auto;
}

/* 断る！！ */
.concept-copy {
  position: absolute;
  left: 50%;
  top: 55%;
  width: min(30vw, 480px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.concept-copy img {
  display: block;
  width: 100%;
  height: auto;
}

/* にんにん忍者 */
.concept-ninnin {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: min(30vw, 420px);
}

.concept-ninnin img {
  display: block;
  width: 100%;
  height: auto;
}

/* スマホ */
@media (max-width: 768px) {
  .concept {
    min-height: 850px;
  }

  .concept-makibishi {
    left: -5%;
    bottom: 5%;
    width: 55vw;
  }

  .concept-copy {
    top: 35%;
    width: 60vw;
  }

  .concept-ninnin {
    right: -5%;
    bottom: 5%;
    width: 55vw;
  }
}
